.header-bg{
    background-color: #FFF9F4;
}

.orange-color{
    color: #FA7F4C;
}
.bg-orange-color{
    background-color: #FA7F4C;
    color: #FFF9F4;
}
.bg-orange-color:hover{
    background-color: black;
    color: #FFF9F4;
}

.image-bg{
    background-color: #f1f1f1;
}